.category {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.category div form {
  width: 100%;
  height: 10vh;
}
.category div form label {
  color: #ff6e86;
  font-size: 30px;
}
.category div form input {
  height: 3vh;
  border-radius: 5px;
  border: 2px solid #ff6e86;
  margin-top: 15px;
  margin-left: 45px;
  background: rgba(255, 172, 97, 0.3);
}
.category div form button {
  background: #ff6e86;
  border: 1px solid #fff;
  height: 4vh;
  width: 80px;
  margin-left: 5px;
  color: #fff;
  border-radius: 5px;
}
.category h1 {
  margin-left: -45%;
  color: rgba(255, 172, 97, 0.3);
}

.result {
  width: 100%;
  max-width: 1300px;
  height: auto;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center;
  grid-gap: 10px;
}

.radom {
  width: 400px;
  height: 400px;
  background: #ff6e86;
  border: 1px solid #fff;
  font-size: 20px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.radom h2 {
  color: #fff;
}

.result a {
  text-decoration: none;
}
